@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary-color: #CE856B;
  --box-bg-color: #FFECE3;
  --text-color: #3A2621;
  --green-detail: #29817B;
  --green-smooth-detail: #2E918B;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.h1 {
  
}

.h2 {
  padding-bottom: 1.25rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  color: var(--text-color);
}

.button {
  background-color: var(--text-color);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  margin: 30px auto;
  max-width: 160px;
  text-align: center;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}

.button-about {
  background-color: var(--text-color);
  color: white;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
  /* max-width: 160px; */
}

.procedures {
  padding-bottom: 1.25rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3rem;
  color: var(--text-color);
}

.paragraph {
  font-size: .9rem;
  line-height: 1.6rem;
  opacity: .8;
}



/* .gradient {
  z-index: -1;
  position: absolute;
  width:  100%;
  height: 100%;
  opacity: .45;
  background: linear-gradient(to right, var(--primary-color), transparent);
}  */








/* HEADER */
nav {
  height: 4rem;
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0 9.5rem; /* 210px */
}

.links-container {
  font-size: 1.275rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

.links-container span {
  display: none;
}

.links-container img {
  display: none;
}

nav a {
  /* height: 100%; */
  /* align-self: ; */
  /* padding: 20px 20px; */
  color: var(--text-color);
}

nav a:hover {
  background-color: var(--box-bg-color);
}

nav img {
  margin-right: auto;
}

nav svg {
  color: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}

.nav-schedule-button {
  background-color: #3A2621;
  color: white;
  height: 2.875rem;
  width: 18.125rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1000px;
}

@media(max-width: 1536px) {
  /* nav {
    padding: 0 9rem;
  } */

  .links-container {
    gap: 2rem;
  }
  
}

@media(max-width: 1280px) {
  nav {
    padding: 0 6rem;
  }

  .links-container {
    font-size: 1.1rem;
    gap: 1.75rem;
  }
  .nav-schedule-button {
    width: 13.9rem;
  }
}

@media (max-width: 1024px) {
  .links-container {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    text-align: center;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 100%;

    background-color: white;
    transition: .75s ease-out;
  }

  .links-container span {
    display: block;
    color: #3A2621;
    margin: 0 auto 1rem auto;
    letter-spacing: 1rem;
    transform: translateX(7.5px);
  }
  
  .links-container img {
    display: block;
    margin: 4rem auto 1rem auto;
    /* align-self: center; */
    opacity: .2;
  }

  .nav-schedule-button {
    align-self: center;
    width: 18rem;
  }

  nav a {
    /* height: auto; */
    width: 100%;
    /* justify-self: flex-start; */
  }

  .open-sidebar-button, .close-sidebar-button {
    display: block; 
  }

  .close-sidebar-button {
    padding: 1.3rem 6rem;
    align-self: flex-end;
  }

  #sidebar-active:checked ~ .links-container {
    /* display: flex; */
    right: 0;
  }
}

@media (max-width: 786px) {
  nav {
    padding: 0 3rem;
  }

  .close-sidebar-button {
    padding: 1.3rem 3rem;
    /* align-self: flex-end; */
  }
}

@media (max-width: 512px) {
  nav {
    padding: 0 1rem;
  }

  .close-sidebar-button {
    padding: 1.3rem 1rem;
    /* align-self: flex-end; */
  }
}







/* HERO */
.HERO-image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.HERO-photo-mobile {
  object-fit: cover;
  opacity: .5;
  object-fit: 2;
}


.HERO-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--primary-color), transparent);
  opacity: .6;

}


.HERO-text {
  position: absolute;
  top: 28rem;
  padding-inline: 1rem;
  color: #3A2621;
  z-index: 4;
}

.HERO-text h1 {
  padding-bottom: 1.25rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  color: var(--text-color);
}

.HERO-text h2 {
  
  font-size: 1rem;
  line-height: 1.6rem;
}

@media (min-width: 512px) {
  .HERO-text {
    padding-inline: 3rem;
  }
}

@media (min-width: 786px) {
  .HERO-text {
    padding-inline: 6rem;
  }
}

@media (min-width: 1090px) {
  .HERO-gradient {
    /* overflow: hidden; */
    background: linear-gradient(to right, white, white, white, transparent, transparent);
    opacity: 1;
  }
  
  .HERO-photo-mobile {
    object-fit: contain;
    transform: translateX(15rem);
    opacity: 1;
    z-index: -1;
  }

  .HERO-text h2 {
    font-size: 1.3rem;
    width: 70%;
  }

  
}

@media (min-width: 1280px) {

  .HERO-photo-mobile {
    object-fit: contain;
    transform: translateX(22rem);
  }

  .HERO-text {
    padding-inline: 9rem;
  }

  .HERO-text h1 {
    font-size: 4rem;
  }

  .HERO-text h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 70%;
  }
}

@media (min-width: 1536px) {
  .HERO-photo-mobile {
    object-fit: contain;
    transform: translateX(30rem);
  }

  .HERO-text {
    padding-inline: 9.5rem;
  }
  .HERO-text h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}




/* .hero-text {
  position: absolute;
  width: 100%;
  padding: 1.75rem;
  top: 24rem;
} 

.HERO-photo-desktop {
  display: none;
}

.HERO-photo-mobile {
  z-index: -5;
  padding-top: 5rem;
  opacity: 0.25;
}

@media (min-width: 768px) {
  .gradient {
    z-index: -1;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), transparent);

  }

  .hero-text {
    top: 22rem;
    width: 75%;
  }

  .hero-photo-mobile {
    display: none;
  }

  
} */











/* ABOUT */

.dots-1 {
  float: right;
  margin: 13rem 3rem 0 0;

}


.about-2 {
  margin: 2rem auto 5rem auto;
  width: 297px;
  position: relative;
  transform: translate(-1rem, 0px);
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* height: 297px; */
  /* margin: 2rem 10rem 2rem 0; */
}



.home-about-img-2 {
  border-radius: 20px;
  /* float: right;  */
  transform: translate(30px, -145px);
  width: 297px;
  /* margin: auto; */
}

.about {
  height: 900px;
}

.about-images-desktop-container {
  display: none;
}

/* ABOUT TEXT */
.about-text-desktop {
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  width: 90%;
  /* flex-grow: 1; */
}

.about-text-desktop a {
  color: white;
  border-radius: 20px;
  margin-top: 2rem;
  align-self: center;
}

.about-text-desktop p {
  opacity: .8;
}



@media (min-width: 1024px) {
  .h1 {
    font-size: 5.38rem;
    line-height: 5rem;
  }

  .procedures {
    font-size: 3rem;
  }

  .about-1 {
    display: none;
  }

  .about-2 {
    display: none;
  }

  .about {
    display: flex;
    width: 100%;
    gap: 5vw;

    padding: 15px 10vw;
  }

  .about > * {
    flex: 1;
    max-height: 750px;
  }


  .about-images-desktop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
  }
  
  .about-text-desktop p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  
  .about-text-desktop a {
    align-self: self-start;
  }
}


@media (min-width: 1499px) {
  
  .about-text-desktop p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}





/* PROCEDURES  */
.HOME-procedures-boxes {
  background-color: var(--box-bg-color);
  border-radius: 20px;

}


.HOME-procedures-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1rem;
  padding-inline: 2rem;
}

.HOME-procedures-grid > div:nth-child(n+4):nth-child(-n+7) {
  display: none;
}

.HOME-procedures-grid > * {
  height: 416px;
}

.HOME-procedures-box-image {
  position: relative ;
  height: 236px;
}

.HOME-procedures-image {
  border-radius: 20px 20px 0 0;

}

.HOME-procedures-info {
  padding: 1.3rem;
  color: var(--text-color);
}


.HOME-procedures-title {
  font-size: 1.15rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 8px;
}

.HOME-procedures-description {
  font-size: 1rem;
  opacity: .9;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .HOME-procedures-grid > div:nth-child(n+4):nth-child(-n+6) {
    display: block;
  }

  .HOME-procedures-grid {
    grid-template-columns: 1fr 1fr;
  }

  .HOME-procedures-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .HOME-procedures-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 6rem;
  }  

  .HOME-procedures-description {
    font-size: 1.1rem;
  }
}

@media (min-width:1280px) {
  .HOME-procedures-grid {
    padding-inline: 9rem;
  }
}

@media (min-width: 1536px) {
  .HOME-procedures-grid {
    padding: 0 9rem;
  }
}




/* SCHEDULE */

.HOME-schedule {
  position: relative;
  background-color: var(--green-detail);
  width:98%;
  height: 400px;
  margin: 0 auto 5rem auto;
  border-radius: 20px;
  overflow: hidden;
}

.HOME-schedule-logo {
  z-index: 0;
  object-fit: contain;
  transform: translateX(-15vw) scale(1.15);
}

.HOME-schedule-roro {
  object-fit: contain;
  /* margin-left: 1; */
  transform: translate(30vw, 3vh) scale(1);
  
}

.HOME-schedule-info {
  position: absolute;
  padding: 2rem;
}

.HOME-schedule-info h2{
  color: white;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.3em;
  margin-bottom: 2rem;
}

.HOME-schedule-info a {
  background-color: white;
  color: var(--green-detail);
  padding: 1rem 2rem;
  border-radius: 1000px;
  /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */

}

@media (min-width: 640px) {
  .HOME-schedule-info {
    width: 70%;
    top: 10%;
  }

  .HOME-schedule-logo {
    transform: translateX(-35vw) scale(1.15);

  }
}

@media (min-width: 768px) {
  .HOME-schedule-info h2 {
    font-size: 2.2rem;
  }
  .HOME-schedule-roro {
    transform: translate(34vw, -1vh) scale(1.1);

  }
}


@media (min-width: 1024px) {
  .HOME-schedule-info {
    top: 15%;
  }

  .HOME-schedule-info h2 {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }

  .HOME-schedule-info a {
    font-size: 1.5rem;
    padding-inline: 3rem;
    font-weight: 500;
  }

  .HOME-schedule {
    height: 535px;
  }

  .HOME-schedule-logo {
    transform: translateX(-30vw) scale(1.55);

  }

  .HOME-schedule-roro {
    transform: translate(30vw, -4vh) scale(1.3);

  }
}

@media (min-width: 1280px) {
  .HOME-schedule-info h2 {
    font-size: 3rem;
  }

  .HOME-schedule-info a {
    padding-inline: 4rem;
  }

  .HOME-schedule-logo {
    transform: translateX(-30vw) scale(1.55);

  }

  .HOME-schedule-roro {
    transform: translate(33vw, -4vh) scale(1.3);

  }
}

@media (min-width: 1536px) {
  .HOME-schedule-info {
    width: 50%;
    top: 20%;
    padding-left: 5rem;
  }

.HOME-schedule-info h2 {
  font-size: 3.5rem;
}

  .HOME-schedule {
    height: 735px;
  }

  .HOME-schedule-logo {
    transform: translateX(-32vw) scale(1.65);

  }

  .HOME-schedule-roro {
    transform: translate(32vw, -4vh) scale(1.3);

  }
}





/* FOOTER */

.FOOTER-info {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5rem;
}

.FOOTER-info-block {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: auto;
  text-align: center;
}

.FOOTER-info-block h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.FOOTER-info-item {
  font-size: 1.2rem;
}

.FOOTER-info img {
  /* object-fit: cover; */
  margin: 0 auto 3rem auto;
}

@media (min-width: 1280px) {
  .FOOTER-info {
    flex-direction: row;
    /* align-items: flex-start; */
  }
  .FOOTER-info-block {
    text-align: left;
    margin-top: 0;
    /* justify-content: center; */
    /* align-content: flex-start; */
  }

  .FOOTER-info-block:nth-child(1) {
    order: 1;
  }

  .FOOTER-info-block:nth-child(2) {
    order: 2;
  }

  .FOOTER-info-block:nth-child(3) {
    order: 3;
  }

  .FOOTER-info-block:nth-child(4) {
    order: 4;
  }

  .FOOTER-info-img-container {
    flex: 1;
  }

}

@media (min-width: 1536px) {
  .FOOTER-info {
    padding: 0 12vw; /* 210px */
  }
}



