@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.shadow {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.menu {
  position: absolute;
  /* padding: 2rem 0; */
  top: 0;
  right: -100%; /* Esconde o menu inicialmente */
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: right 0.3s ease; 
}

.menu-show {
  right: 0;
}

.gradient {
  width:  calc(100% + 200px);
  height: 100vh;
  background: linear-gradient(to right, #CE856B, rgba(0,0,0,0));
}

.h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}

.description {
  font-size: .9rem;
  line-height: 1.6rem;
}
